body{

}

.welcoming{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    display: inline-flex;
    
    
    }
    .image1{
        width: 100%;
        position: relative;
        opacity: 0.5;
    }
    
table{
    width: 90%;
    margin-left: 5%;
    position: absolute;
   }
.q1{
    height: 100%;
    width: 100%;
    background-color: #a7bfe8;
    text-align: center;
    align-items: center;
    display: inline-flex;
    overflow-y: hidden;
   
   }
   .image2{
    position: relative;
    opacity: 0.5;
    width: 100%;
    }
.naming{
    width: 100%;
    position: absolute;
    
    }
.q2{
    height: 100vh;
    width: 100%;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    opacity: 0.8;
    text-align: center;
    align-items: center;
    display: inline-flex;
    }
.form-group{
    width: 100%;
    }
.q3{
    height: 100vh;
    width: 100%;
    background-color: thistle;
    text-align: center;
    align-items: center;
    display: inline-flex;
   }
.q4{
    height: 100vh;
    width: 100%;
    background-color: thistle;
    text-align: center;
    align-items: center;
    display: inline-flex;
    }
.result{
        height: 100vh;
        width: 100%;
        opacity: 0.6;
        background-color: rgb(201, 137, 201);
        text-align: center;
        align-items: center;
        display: inline-flex;
    }


#button1{
    background-color: #86a8e7;
    border-color:rgb(87, 120, 156); 
    color:wheat; 
    box-sizing: content-box;
    border-width: 2px;
    margin-top: 15px;
    text-transform: uppercase;
    
}

#button2{
    background-color: #86a8e7;
    border-color:rgb(87, 120, 156); 
    color:wheat; 
    box-sizing: content-box;
    border-width: 2px;
    margin-top: 15px;
    text-transform: uppercase;
}
#button3{
    background-color: #86a8e7;
    border-color:rgb(87, 120, 156); 
    color: rgb(255, 255, 255); 
    height: 15px;
    box-sizing: content-box;
    border-width: 2px;
    
    /* margin-top: 15px; */
    text-transform: uppercase;
}
#button4{
    background-color: #86a8e7;
    border-color:rgb(87, 120, 156); 
    color:wheat; 
    box-sizing: content-box;
    border-width: 2px;
    margin-top: 15px;
    
    text-transform: uppercase;
}
#button5{
    background-color: #86a8e7;
    border-color:rgb(87, 120, 156); 
    color:wheat; 
    box-sizing: content-box;
    border-width: 2px;
    margin-top: 15px;
    text-transform: uppercase;
}
h4{
    font-family: Kavivanar ;
    letter-spacing: 10px;
}
.q1,.q2,.q3,.q4,.result,.page-footer{
    display: none;
}
